* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #121214;
  --bg-primary-light: hsla(194, 100%, 63%, 0.13);
  --primary-color: #42D3FF; 
  --text-color: #FFF;

  font-size: 62.5%;
}


body {
  background-color: var(--bg-color) ;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

.timer {
  font-size: 8.8rem;
  display: flex;
}

main{
  height: 100vh;
  display: grid;
  place-content: center;
  place-items: center;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hide {
  display: none;
}
.controls {
  display: flex;
  gap: 32px;
  padding: 22px 40px;
  background: var( --bg-primary-light);
  border-radius: 9999px;
}

.btn-unmute {
  position: fixed;
  bottom: 32px;
  right: 40px;
}